In [2]:
"""Example of Python client calling Knowledge Graph Search API."""
import json
import urllib
from urllib import request

api_key = 'AIzaSyCJ1ErcwXdwA7vh93kXiiYDLg1JkuEQ_Nc'
query = 'A Christmas Eve'#'Robert J. Bradshaw.'#'.Gabriel'
service_url = 'https://kgsearch.googleapis.com/v1/entities:search'
params = {
    'query': query,
    'limit': 5,
    'indent': True,
    'key': api_key,
#     'types': 'Thing',
    'types': 'MusicComposition'
}
url = service_url + '?' + urllib.parse.urlencode(params)
print(url)
response = json.loads(urllib.request.urlopen(url).read())
for element in response['itemListElement']:
#     print(element['result']['name'] + ' (' + str(element['resultScore']) + ')')
#     print(element['result']['detailedDescription']['url'])
    print(element)

https://kgsearch.googleapis.com/v1/entities:search?query=A+Christmas+Eve&limit=5&indent=True&key=AIzaSyCJ1ErcwXdwA7vh93kXiiYDLg1JkuEQ_Nc&types=MusicComposition
{'@type': 'EntitySearchResult', 'result': {'@id': 'kg:/m/02rn_mg', 'name': 'Christmas Eve', '@type': ['MusicComposition', 'Thing'], 'description': 'Opera by Nikolai Rimsky-Korsakov', 'image': {'contentUrl': 'http://t0.gstatic.com/images?q=tbn:ANd9GcT4bHmkso4Dy1NR4KJbtF2PotyuduSV-8X2B5Iyv4OfOIlpWAsJ', 'url': 'https://en.wikipedia.org/wiki/Christmas_Eve_(opera)'}, 'detailedDescription': {'articleBody': 'Christmas Eve, is an opera in four acts with music and libretto by Nikolai Rimsky-Korsakov. Composed between 1894 and 1895, Rimsky-Korsakov based his opera on a short story, "Christmas Eve", from Nikolai Gogol\'s Evenings on a Farm Near Dikanka. ', 'url': 'https://en.wikipedia.org/wiki/Christmas_Eve_(opera)', 'license': 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License'}}, 'resultScore': 195.762512}
{'@type': 'EntitySearchResult', 'result': {'@id': 'kg:/m/0fxg5n', 'name': 'Vakula the Smith', '@type': ['Thing', 'MusicComposition'], 'description': 'Opera by Pyotr Ilyich Tchaikovsky', 'detailedDescription': {'articleBody': "Vakula the Smith, Op. 14, is an opera in 3 acts, 8 scenes, by Pyotr Ilyich Tchaikovsky. The libretto was written by Yakov Polonsky and is based on Nikolai Gogol's story Christmas Eve. ", 'url': 'https://en.wikipedia.org/wiki/Vakula_the_Smith', 'license': 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License'}}, 'resultScore': 17.47797}
{'@type': 'EntitySearchResult', 'result': {'@id': 'kg:/m/0fxqwx', 'name': 'Cherevichki', '@type': ['Thing', 'MusicComposition'], 'description': 'Opera by Pyotr Ilyich Tchaikovsky', 'detailedDescription': {'articleBody': 'Cherevichki is a comic-fantastic opera in 4 acts, 8 scenes, by Pyotr Ilyich Tchaikovsky. It was composed in 1885 in Maidanovo, Russia. ', 'url': 'https://en.wikipedia.org/wiki/Cherevichki', 'license': 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License'}}, 'resultScore': 14.167546}
{'@type': 'EntitySearchResult', 'result': {'@id': 'kg:/m/06f9jy', 'name': 'Mozart and Salieri', '@type': ['MusicComposition', 'Thing'], 'description': 'Opera by Nikolai Rimsky-Korsakov', 'image': {'contentUrl': 'http://t1.gstatic.com/images?q=tbn:ANd9GcROJInie0fZoh6FEfWenl-J46yrQVXZb5h4a60oPnLcjG2nAGvS', 'url': 'https://commons.wikimedia.org/wiki/File:Chaliapin_F._(%D0%A8%D0%B0%D0%BB%D1%8F%D0%BF%D0%B8%D0%BD_%D0%A4._%D0%98.)_1898_as_Salieri.jpg'}, 'detailedDescription': {'articleBody': "Mozart and Salieri is a one-act opera in two scenes by Nikolai Rimsky-Korsakov, written in 1897 to a Russian libretto taken almost verbatim from Alexander Pushkin's 1830 verse drama of the same name.\n", 'url': 'https://en.wikipedia.org/wiki/Mozart_and_Salieri_(opera)', 'license': 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License'}}, 'resultScore': 10.96096}
{'@type': 'EntitySearchResult', 'result': {'@id': 'kg:/m/02rmwvn', 'name': 'The Noblewoman Vera Sheloga', '@type': ['MusicComposition', 'Thing'], 'description': 'Opera by Nikolai Rimsky-Korsakov', 'image': {'contentUrl': 'http://t3.gstatic.com/images?q=tbn:ANd9GcScoTc9vPPOxbD2YN4-4KKQ73LafrpEW29Ij8modhsS6FTcBfT_', 'url': 'https://en.wikipedia.org/wiki/The_Noblewoman_Vera_Sheloga'}, 'detailedDescription': {'articleBody': 'The Noblewoman Vera Sheloga is an opera in one act by Nikolai Rimsky-Korsakov. Rimsky-Korsakov wrote the libretto, which he based on the first act of the play "The Maid of Pskov" by Lev Alexandrovich Mey. ', 'url': 'https://en.wikipedia.org/wiki/The_Noblewoman_Vera_Sheloga', 'license': 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License'}}, 'resultScore': 9.078328}

In [34]:
from bs4 import BeautifulSoup
import requests, urllib
from datetime import datetime

headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 6.0; WOW64; rv:24.0) Gecko/20100101 Firefox/24.0' }
base_url = 'http://operadata.stanford.edu/?utf8=%E2%9C%93&utf8=%E2%9C%93&search_field=title&'

#################### UPDATE COMPOSER ATTRIBUTES ####################
import psycopg2
import pandas as pd

db_name = "traviato_development"
db_host = "localhost"
db_port = "5432"
db_user = "lievgarcia"
db_pwd = "traviato81"

conn = psycopg2.connect(database=db_name, user=db_user, password=db_pwd, host=db_host, port=db_port)
#######################################################################

cursor = conn.cursor()  
query = "select id, name, uri from works c WHERE premiere_date IS NULL ORDER BY name"
cursor.execute(query)
c_df = pd.DataFrame(cursor.fetchall(), columns=['id', 'name', 'uri'])
print(c_df.shape)

api_key = 'AIzaSyCJ1ErcwXdwA7vh93kXiiYDLg1JkuEQ_Nc'
service_url = 'https://kgsearch.googleapis.com/v1/entities:search'
    
for idx,row in c_df.iterrows():
    
    if idx%250==0:
        print(idx)
        
    query = row['name']
    params = {
        'query': query,
        'limit': 5,
        'indent': True,
        'key': api_key,
        'types': 'MusicComposition'
    }
    url = service_url + '?' + urllib.parse.urlencode(params)
    response = json.loads(urllib.request.urlopen(url).read())
    for element in response['itemListElement']:   
        try:
            if element['result']['name'].lower()==row['name'].lower():
                premiere = 'Unknown'
    #             print(element['result']['detailedDescription']['articleBody'])
                if bool(re.search(r'(?:(?<!\d)\d{4}(?!\d))', element['result']['detailedDescription']['articleBody'])):
#                     print('------------------------------------------------')                        
#                     print(row['name'])        
                    premiere = re.search(r'(?:(?<!\d)\d{4}(?!\d))', element['result']['detailedDescription']['articleBody'][4:]).group(0)
#                     print('Premiered on: ' + str(premiere))
                    
                    update = "UPDATE WORKS "
                    values = "SET premiere_date = '" + str(premiere) + "' "
                    where  = "WHERE id = " + str(row['id']) + "; "
                    commit = "COMMIT;"
                    print(update + values + where + commit)    
                    cursor.execute(update + values + where + commit)                       
#                 print('------------------------------------------------')        
        except:
            None

(6097, 3)
0
UPDATE WORKS SET premiere_date = '1985' WHERE id = 12340; COMMIT;
UPDATE WORKS SET premiere_date = '1930' WHERE id = 5318; COMMIT;
UPDATE WORKS SET premiere_date = '1993' WHERE id = 5347; COMMIT;
UPDATE WORKS SET premiere_date = '1871' WHERE id = 12477; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 12507; COMMIT;
UPDATE WORKS SET premiere_date = '1908' WHERE id = 5396; COMMIT;
UPDATE WORKS SET premiere_date = '1672' WHERE id = 5433; COMMIT;
UPDATE WORKS SET premiere_date = '1734' WHERE id = 5436; COMMIT;
UPDATE WORKS SET premiere_date = '1869' WHERE id = 5480; COMMIT;
UPDATE WORKS SET premiere_date = '1778' WHERE id = 3891; COMMIT;
UPDATE WORKS SET premiere_date = '1798' WHERE id = 12724; COMMIT;
UPDATE WORKS SET premiere_date = '1810' WHERE id = 5572; COMMIT;
UPDATE WORKS SET premiere_date = '1970' WHERE id = 12754; COMMIT;
250
UPDATE WORKS SET premiere_date = '1744' WHERE id = 698; COMMIT;
UPDATE WORKS SET premiere_date = '1756' WHERE id = 698; COMMIT;
UPDATE WORKS SET premiere_date = '1772' WHERE id = 12806; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 5635; COMMIT;
UPDATE WORKS SET premiere_date = '1874' WHERE id = 3672; COMMIT;
UPDATE WORKS SET premiere_date = '1868' WHERE id = 22968; COMMIT;
UPDATE WORKS SET premiere_date = '1691' WHERE id = 3035; COMMIT;
UPDATE WORKS SET premiere_date = '1966' WHERE id = 12939; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 5746; COMMIT;
UPDATE WORKS SET premiere_date = '1686' WHERE id = 12952; COMMIT;
UPDATE WORKS SET premiere_date = '1891' WHERE id = 12981; COMMIT;
UPDATE WORKS SET premiere_date = '1919' WHERE id = 5767; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 5770; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 2788; COMMIT;
UPDATE WORKS SET premiere_date = '2001' WHERE id = 13010; COMMIT;
UPDATE WORKS SET premiere_date = '1982' WHERE id = 13094; COMMIT;
500
UPDATE WORKS SET premiere_date = '1911' WHERE id = 5861; COMMIT;
UPDATE WORKS SET premiere_date = '1719' WHERE id = 13194; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 5887; COMMIT;
UPDATE WORKS SET premiere_date = '1843' WHERE id = 5922; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 13296; COMMIT;
UPDATE WORKS SET premiere_date = '1950' WHERE id = 5953; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 2476; COMMIT;
UPDATE WORKS SET premiere_date = '1782' WHERE id = 248; COMMIT;
UPDATE WORKS SET premiere_date = '1847' WHERE id = 13399; COMMIT;
UPDATE WORKS SET premiere_date = '1654' WHERE id = 6008; COMMIT;
UPDATE WORKS SET premiere_date = '1965' WHERE id = 6028; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 6030; COMMIT;
UPDATE WORKS SET premiere_date = '1890' WHERE id = 546; COMMIT;
750
UPDATE WORKS SET premiere_date = '1992' WHERE id = 446; COMMIT;
UPDATE WORKS SET premiere_date = '1733' WHERE id = 18792; COMMIT;
UPDATE WORKS SET premiere_date = '1773' WHERE id = 18792; COMMIT;
UPDATE WORKS SET premiere_date = '1733' WHERE id = 18791; COMMIT;
UPDATE WORKS SET premiere_date = '1773' WHERE id = 18791; COMMIT;
UPDATE WORKS SET premiere_date = '1733' WHERE id = 2742; COMMIT;
UPDATE WORKS SET premiere_date = '1773' WHERE id = 2742; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 22405; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 21946; COMMIT;
UPDATE WORKS SET premiere_date = '1982' WHERE id = 13624; COMMIT;
UPDATE WORKS SET premiere_date = '1719' WHERE id = 1517; COMMIT;
UPDATE WORKS SET premiere_date = '1932' WHERE id = 6206; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 6215; COMMIT;
UPDATE WORKS SET premiere_date = '1850' WHERE id = 6351; COMMIT;
UPDATE WORKS SET premiere_date = '1850' WHERE id = 22642; COMMIT;
UPDATE WORKS SET premiere_date = '1826' WHERE id = 1434; COMMIT;
1000
UPDATE WORKS SET premiere_date = '1847' WHERE id = 13819; COMMIT;
UPDATE WORKS SET premiere_date = '1873' WHERE id = 13834; COMMIT;
UPDATE WORKS SET premiere_date = '1795' WHERE id = 3958; COMMIT;
UPDATE WORKS SET premiere_date = '1645' WHERE id = 1232; COMMIT;
UPDATE WORKS SET premiere_date = '1902' WHERE id = 1053; COMMIT;
UPDATE WORKS SET premiere_date = '1886' WHERE id = 184; COMMIT;
UPDATE WORKS SET premiere_date = '2004' WHERE id = 6387; COMMIT;
UPDATE WORKS SET premiere_date = '2004' WHERE id = 22630; COMMIT;
UPDATE WORKS SET premiere_date = '1768' WHERE id = 13843; COMMIT;
UPDATE WORKS SET premiere_date = '1969' WHERE id = 1949; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 6392; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 6393; COMMIT;
UPDATE WORKS SET premiere_date = '1940' WHERE id = 6394; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 3788; COMMIT;
UPDATE WORKS SET premiere_date = '1911' WHERE id = 589; COMMIT;
UPDATE WORKS SET premiere_date = '1789' WHERE id = 2355; COMMIT;
UPDATE WORKS SET premiere_date = '1969' WHERE id = 3132; COMMIT;
UPDATE WORKS SET premiere_date = '1835' WHERE id = 13897; COMMIT;
UPDATE WORKS SET premiere_date = '2000' WHERE id = 2359; COMMIT;
UPDATE WORKS SET premiere_date = '1916' WHERE id = 4547; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 6439; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 3349; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1519; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 6466; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 22197; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 13951; COMMIT;
UPDATE WORKS SET premiere_date = '1933' WHERE id = 13955; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 6473; COMMIT;
UPDATE WORKS SET premiere_date = '1925' WHERE id = 1122; COMMIT;
UPDATE WORKS SET premiere_date = '1940' WHERE id = 6477; COMMIT;
UPDATE WORKS SET premiere_date = '1940' WHERE id = 22661; COMMIT;
UPDATE WORKS SET premiere_date = '1834' WHERE id = 13967; COMMIT;
UPDATE WORKS SET premiere_date = '1993' WHERE id = 13983; COMMIT;
UPDATE WORKS SET premiere_date = '1956' WHERE id = 13983; COMMIT;
UPDATE WORKS SET premiere_date = '1993' WHERE id = 13984; COMMIT;
UPDATE WORKS SET premiere_date = '1956' WHERE id = 13984; COMMIT;
UPDATE WORKS SET premiere_date = '1674' WHERE id = 13987; COMMIT;
1250
UPDATE WORKS SET premiere_date = '1875' WHERE id = 6517; COMMIT;
UPDATE WORKS SET premiere_date = '1875' WHERE id = 3668; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 340; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 340; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 340; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 6539; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6539; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6539; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 277; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 277; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 277; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 6542; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6542; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6542; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 6540; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6540; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6540; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 6538; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6538; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6538; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 6543; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6543; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 6543; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 1868; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1868; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1868; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 702; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 702; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 702; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 3194; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 3194; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 3194; COMMIT;

UPDATE WORKS SET premiere_date = '1750' WHERE id = 1740; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1740; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1740; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 11612; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 11612; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 11612; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 14023; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 14023; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 14023; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 1223; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1223; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1223; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 2924; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 2924; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 2924; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 923; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 923; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 923; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 2895; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 2895; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 2895; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 3730; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 3730; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 3730; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 846; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 846; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 846; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 1753; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1753; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1753; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 1839; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1839; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 1839; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 3297; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 3297; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 3297; COMMIT;
UPDATE WORKS SET premiere_date = '1987' WHERE id = 6545; COMMIT;
UPDATE WORKS SET premiere_date = '1987' WHERE id = 22040; COMMIT;
UPDATE WORKS SET premiere_date = '1837' WHERE id = 6546; COMMIT;
UPDATE WORKS SET premiere_date = '1873' WHERE id = 1002; COMMIT;
UPDATE WORKS SET premiere_date = '1838' WHERE id = 2822; COMMIT;
UPDATE WORKS SET premiere_date = '1802' WHERE id = 6553; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 6555; COMMIT;
UPDATE WORKS SET premiere_date = '1983' WHERE id = 6556; COMMIT;
UPDATE WORKS SET premiere_date = '1872' WHERE id = 14062; COMMIT;
UPDATE WORKS SET premiere_date = '1834' WHERE id = 14062; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 14063; COMMIT;
UPDATE WORKS SET premiere_date = '1918' WHERE id = 6562; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 6562; COMMIT;
UPDATE WORKS SET premiere_date = '1918' WHERE id = 6563; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 6563; COMMIT;
UPDATE WORKS SET premiere_date = '1839' WHERE id = 6565; COMMIT;
UPDATE WORKS SET premiere_date = '1808' WHERE id = 11501; COMMIT;
UPDATE WORKS SET premiere_date = '1855' WHERE id = 6575; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 3042; COMMIT;
UPDATE WORKS SET premiere_date = '1820' WHERE id = 21977; COMMIT;
UPDATE WORKS SET premiere_date = '1909' WHERE id = 21977; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 22333; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 6583; COMMIT;
UPDATE WORKS SET premiere_date = '1784' WHERE id = 6594; COMMIT;
UPDATE WORKS SET premiere_date = '1963' WHERE id = 6596; COMMIT;
UPDATE WORKS SET premiere_date = '1912' WHERE id = 14107; COMMIT;
UPDATE WORKS SET premiere_date = '1835' WHERE id = 1046; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 6609; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 21922; COMMIT;
UPDATE WORKS SET premiere_date = '1853' WHERE id = 14153; COMMIT;
UPDATE WORKS SET premiere_date = '1994' WHERE id = 14154; COMMIT;
UPDATE WORKS SET premiere_date = '1831' WHERE id = 14177; COMMIT;
UPDATE WORKS SET premiere_date = '1831' WHERE id = 22702; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 6637; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 14189; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 6640; COMMIT;
UPDATE WORKS SET premiere_date = '1935' WHERE id = 14195; COMMIT;
UPDATE WORKS SET premiere_date = '1991' WHERE id = 6645; COMMIT;
UPDATE WORKS SET premiere_date = '1991' WHERE id = 22355; COMMIT;
UPDATE WORKS SET premiere_date = '1895' WHERE id = 590; COMMIT;
UPDATE WORKS SET premiere_date = '1909' WHERE id = 6653; COMMIT;
UPDATE WORKS SET premiere_date = '1930' WHERE id = 6653; COMMIT;
UPDATE WORKS SET premiere_date = '1806' WHERE id = 6657; COMMIT;
UPDATE WORKS SET premiere_date = '2002' WHERE id = 4260; COMMIT;
UPDATE WORKS SET premiere_date = '1881' WHERE id = 6670; COMMIT;
1500
UPDATE WORKS SET premiere_date = '1732' WHERE id = 14248; COMMIT;
UPDATE WORKS SET premiere_date = '1732' WHERE id = 22238; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 6680; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 21961; COMMIT;
UPDATE WORKS SET premiere_date = '2012' WHERE id = 14254; COMMIT;
UPDATE WORKS SET premiere_date = '1951' WHERE id = 6689; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 2876; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 2876; COMMIT;
UPDATE WORKS SET premiere_date = '1972' WHERE id = 2876; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 2876; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 14272; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 14272; COMMIT;
UPDATE WORKS SET premiere_date = '1972' WHERE id = 14272; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 14272; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 6696; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 6696; COMMIT;
UPDATE WORKS SET premiere_date = '1972' WHERE id = 6696; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 6696; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 3377; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 3377; COMMIT;
UPDATE WORKS SET premiere_date = '1972' WHERE id = 3377; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 3377; COMMIT;
UPDATE WORKS SET premiere_date = '1554' WHERE id = 2926; COMMIT;
UPDATE WORKS SET premiere_date = '1919' WHERE id = 1994; COMMIT;
UPDATE WORKS SET premiere_date = '1530' WHERE id = 14293; COMMIT;
UPDATE WORKS SET premiere_date = '1530' WHERE id = 14293; COMMIT;
UPDATE WORKS SET premiere_date = '1640' WHERE id = 1240; COMMIT;
UPDATE WORKS SET premiere_date = '1943' WHERE id = 6723; COMMIT;
UPDATE WORKS SET premiere_date = '1874' WHERE id = 21835; COMMIT;
UPDATE WORKS SET premiere_date = '1981' WHERE id = 6738; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 14340; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 21899; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 6742; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 22005; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 6744; COMMIT;
UPDATE WORKS SET premiere_date = '1701' WHERE id = 331; COMMIT;
UPDATE WORKS SET premiere_date = '1701' WHERE id = 331; COMMIT;
UPDATE WORKS SET premiere_date = '1701' WHERE id = 331; COMMIT;
UPDATE WORKS SET premiere_date = '1701' WHERE id = 331; COMMIT;
UPDATE WORKS SET premiere_date = '1871' WHERE id = 6751; COMMIT;
UPDATE WORKS SET premiere_date = '1931' WHERE id = 6752; COMMIT;
UPDATE WORKS SET premiere_date = '1838' WHERE id = 14360; COMMIT;
UPDATE WORKS SET premiere_date = '1857' WHERE id = 6760; COMMIT;
UPDATE WORKS SET premiere_date = '1874' WHERE id = 1202; COMMIT;
UPDATE WORKS SET premiere_date = '1867' WHERE id = 1203; COMMIT;

UPDATE WORKS SET premiere_date = '1905' WHERE id = 6766; COMMIT;
UPDATE WORKS SET premiere_date = '1880' WHERE id = 6768; COMMIT;
UPDATE WORKS SET premiere_date = '2018' WHERE id = 6771; COMMIT;
UPDATE WORKS SET premiere_date = '1868' WHERE id = 20477; COMMIT;
UPDATE WORKS SET premiere_date = '1868' WHERE id = 22404; COMMIT;
UPDATE WORKS SET premiere_date = '1868' WHERE id = 11507; COMMIT;
UPDATE WORKS SET premiere_date = '1706' WHERE id = 1572; COMMIT;
UPDATE WORKS SET premiere_date = '1764' WHERE id = 14395; COMMIT;
UPDATE WORKS SET premiere_date = '1833' WHERE id = 12177; COMMIT;
UPDATE WORKS SET premiere_date = '1872' WHERE id = 6781; COMMIT;
UPDATE WORKS SET premiere_date = '1873' WHERE id = 14416; COMMIT;
UPDATE WORKS SET premiere_date = '1931' WHERE id = 1531; COMMIT;
UPDATE WORKS SET premiere_date = '1895' WHERE id = 2060; COMMIT;
UPDATE WORKS SET premiere_date = '1859' WHERE id = 22250; COMMIT;
UPDATE WORKS SET premiere_date = '1859' WHERE id = 14445; COMMIT;
UPDATE WORKS SET premiere_date = '1761' WHERE id = 282; COMMIT;
UPDATE WORKS SET premiere_date = '1961' WHERE id = 6807; COMMIT;
UPDATE WORKS SET premiere_date = '1961' WHERE id = 23085; COMMIT;
UPDATE WORKS SET premiere_date = '1658' WHERE id = 1241; COMMIT;
UPDATE WORKS SET premiere_date = '1708' WHERE id = 225; COMMIT;
1750
UPDATE WORKS SET premiere_date = '1907' WHERE id = 6820; COMMIT;
UPDATE WORKS SET premiere_date = '1789' WHERE id = 6821; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 6822; COMMIT;
UPDATE WORKS SET premiere_date = '1794' WHERE id = 3960; COMMIT;
UPDATE WORKS SET premiere_date = '1937' WHERE id = 2932; COMMIT;
UPDATE WORKS SET premiere_date = '1716' WHERE id = 14516; COMMIT;
UPDATE WORKS SET premiere_date = '1803' WHERE id = 6841; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 14525; COMMIT;
UPDATE WORKS SET premiere_date = '1874' WHERE id = 206; COMMIT;
UPDATE WORKS SET premiere_date = '1995' WHERE id = 4353; COMMIT;
UPDATE WORKS SET premiere_date = '1729' WHERE id = 310; COMMIT;
UPDATE WORKS SET premiere_date = '1874' WHERE id = 11633; COMMIT;
UPDATE WORKS SET premiere_date = '1855' WHERE id = 1881; COMMIT;
UPDATE WORKS SET premiere_date = '1855' WHERE id = 14584; COMMIT;
UPDATE WORKS SET premiere_date = '1919' WHERE id = 14599; COMMIT;
UPDATE WORKS SET premiere_date = '1636' WHERE id = 1832; COMMIT;
UPDATE WORKS SET premiere_date = '1683' WHERE id = 6897; COMMIT;
UPDATE WORKS SET premiere_date = '1662' WHERE id = 6902; COMMIT;
UPDATE WORKS SET premiere_date = '1765' WHERE id = 703; COMMIT;
UPDATE WORKS SET premiere_date = '1682' WHERE id = 142; COMMIT;
UPDATE WORKS SET premiere_date = '1679' WHERE id = 6910; COMMIT;
UPDATE WORKS SET premiere_date = '1768' WHERE id = 6912; COMMIT;
UPDATE WORKS SET premiere_date = '1949' WHERE id = 6928; COMMIT;
UPDATE WORKS SET premiere_date = '1753' WHERE id = 6930; COMMIT;
UPDATE WORKS SET premiere_date = '1793' WHERE id = 889; COMMIT;
UPDATE WORKS SET premiere_date = '1924' WHERE id = 6945; COMMIT;
UPDATE WORKS SET premiere_date = '1668' WHERE id = 320; COMMIT;
UPDATE WORKS SET premiere_date = '1784' WHERE id = 21975; COMMIT;
UPDATE WORKS SET premiere_date = '1784' WHERE id = 6965; COMMIT;
UPDATE WORKS SET premiere_date = '1756' WHERE id = 1827; COMMIT;
UPDATE WORKS SET premiere_date = '1756' WHERE id = 704; COMMIT;
UPDATE WORKS SET premiere_date = '1760' WHERE id = 2287; COMMIT;
UPDATE WORKS SET premiere_date = '1760' WHERE id = 2897; COMMIT;
UPDATE WORKS SET premiere_date = '1760' WHERE id = 278; COMMIT;
UPDATE WORKS SET premiere_date = '1760' WHERE id = 705; COMMIT;
UPDATE WORKS SET premiere_date = '1760' WHERE id = 1737; COMMIT;
2000
UPDATE WORKS SET premiere_date = '1880' WHERE id = 14721; COMMIT;
UPDATE WORKS SET premiere_date = '1787' WHERE id = 7010; COMMIT;
UPDATE WORKS SET premiere_date = '1744' WHERE id = 14746; COMMIT;
UPDATE WORKS SET premiere_date = '1744' WHERE id = 1189; COMMIT;
UPDATE WORKS SET premiere_date = '1854' WHERE id = 14765; COMMIT;
UPDATE WORKS SET premiere_date = '1742' WHERE id = 7038; COMMIT;
UPDATE WORKS SET premiere_date = '1763' WHERE id = 7040; COMMIT;
UPDATE WORKS SET premiere_date = '1886' WHERE id = 1205; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 759; COMMIT;
UPDATE WORKS SET premiere_date = '1944' WHERE id = 7058; COMMIT;
UPDATE WORKS SET premiere_date = '1977' WHERE id = 7060; COMMIT;
UPDATE WORKS SET premiere_date = '1977' WHERE id = 22037; COMMIT;
UPDATE WORKS SET premiere_date = '1923' WHERE id = 2274; COMMIT;
UPDATE WORKS SET premiere_date = '1812' WHERE id = 1626; COMMIT;
UPDATE WORKS SET premiere_date = '1732' WHERE id = 7077; COMMIT;
UPDATE WORKS SET premiere_date = '2001' WHERE id = 14822; COMMIT;
UPDATE WORKS SET premiere_date = '1951' WHERE id = 7084; COMMIT;
UPDATE WORKS SET premiere_date = '1966' WHERE id = 3747; COMMIT;
UPDATE WORKS SET premiere_date = '1966' WHERE id = 14861; COMMIT;
UPDATE WORKS SET premiere_date = '1959' WHERE id = 7105; COMMIT;
UPDATE WORKS SET premiere_date = '1745' WHERE id = 7109; COMMIT;
UPDATE WORKS SET premiere_date = '1921' WHERE id = 7113; COMMIT;
UPDATE WORKS SET premiere_date = '2005' WHERE id = 14888; COMMIT;
UPDATE WORKS SET premiere_date = '1915' WHERE id = 3379; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 3151; COMMIT;
UPDATE WORKS SET premiere_date = '1959' WHERE id = 7129; COMMIT;
UPDATE WORKS SET premiere_date = '1979' WHERE id = 7134; COMMIT;
UPDATE WORKS SET premiere_date = '1966' WHERE id = 7135; COMMIT;
2250
UPDATE WORKS SET premiere_date = '1896' WHERE id = 1371; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 3133; COMMIT;
UPDATE WORKS SET premiere_date = '1792' WHERE id = 2704; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 14955; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 22227; COMMIT;
UPDATE WORKS SET premiere_date = '1852' WHERE id = 14962; COMMIT;
UPDATE WORKS SET premiere_date = '2000' WHERE id = 14963; COMMIT;
UPDATE WORKS SET premiere_date = '1878' WHERE id = 7166; COMMIT;
UPDATE WORKS SET premiere_date = '1655' WHERE id = 321; COMMIT;
UPDATE WORKS SET premiere_date = '1777' WHERE id = 893; COMMIT;
UPDATE WORKS SET premiere_date = '1905' WHERE id = 176; COMMIT;
UPDATE WORKS SET premiere_date = '1733' WHERE id = 312; COMMIT;
UPDATE WORKS SET premiere_date = '1733' WHERE id = 312; COMMIT;
UPDATE WORKS SET premiere_date = '1847' WHERE id = 7191; COMMIT;
UPDATE WORKS SET premiere_date = '1778' WHERE id = 251; COMMIT;
UPDATE WORKS SET premiere_date = '1905' WHERE id = 593; COMMIT;
UPDATE WORKS SET premiere_date = '1752' WHERE id = 7207; COMMIT;
UPDATE WORKS SET premiere_date = '1803' WHERE id = 15030; COMMIT;
UPDATE WORKS SET premiere_date = '1679' WHERE id = 144; COMMIT;
UPDATE WORKS SET premiere_date = '1775' WHERE id = 2455; COMMIT;
UPDATE WORKS SET premiere_date = '1717' WHERE id = 15037; COMMIT;
UPDATE WORKS SET premiere_date = '1686' WHERE id = 15037; COMMIT;
UPDATE WORKS SET premiere_date = '1755' WHERE id = 708; COMMIT;
UPDATE WORKS SET premiere_date = '1801' WHERE id = 3963; COMMIT;
UPDATE WORKS SET premiere_date = '1779' WHERE id = 22159; COMMIT;
UPDATE WORKS SET premiere_date = '1779' WHERE id = 7238; COMMIT;
UPDATE WORKS SET premiere_date = '1779' WHERE id = 11120; COMMIT;
UPDATE WORKS SET premiere_date = '1783' WHERE id = 3904; COMMIT;
UPDATE WORKS SET premiere_date = '1908' WHERE id = 7243; COMMIT;
UPDATE WORKS SET premiere_date = '1738' WHERE id = 7245; COMMIT;
UPDATE WORKS SET premiere_date = '1738' WHERE id = 21886; COMMIT;
UPDATE WORKS SET premiere_date = '1814' WHERE id = 7246; COMMIT;
UPDATE WORKS SET premiere_date = '1890' WHERE id = 7251; COMMIT;
UPDATE WORKS SET premiere_date = '1784' WHERE id = 252; COMMIT;
UPDATE WORKS SET premiere_date = '1753' WHERE id = 710; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 22357; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 15082; COMMIT;
UPDATE WORKS SET premiere_date = '1759' WHERE id = 711; COMMIT;
UPDATE WORKS SET premiere_date = '1608' WHERE id = 22267; COMMIT;
UPDATE WORKS SET premiere_date = '1657' WHERE id = 322; COMMIT;
UPDATE WORKS SET premiere_date = '1785' WHERE id = 21976; COMMIT;
UPDATE WORKS SET premiere_date = '1915' WHERE id = 22354; COMMIT;

UPDATE WORKS SET premiere_date = '1897' WHERE id = 15098; COMMIT;
UPDATE WORKS SET premiere_date = '1756' WHERE id = 1228; COMMIT;
UPDATE WORKS SET premiere_date = '1745' WHERE id = 21855; COMMIT;
UPDATE WORKS SET premiere_date = '1841' WHERE id = 21937; COMMIT;
UPDATE WORKS SET premiere_date = '1748' WHERE id = 712; COMMIT;
UPDATE WORKS SET premiere_date = '1739' WHERE id = 7302; COMMIT;
UPDATE WORKS SET premiere_date = '1726' WHERE id = 3682; COMMIT;
UPDATE WORKS SET premiere_date = '1786' WHERE id = 23114; COMMIT;
UPDATE WORKS SET premiere_date = '1773' WHERE id = 3183; COMMIT;
UPDATE WORKS SET premiere_date = '1746' WHERE id = 713; COMMIT;
2500
UPDATE WORKS SET premiere_date = '1835' WHERE id = 7324; COMMIT;
UPDATE WORKS SET premiere_date = '1626' WHERE id = 15139; COMMIT;
UPDATE WORKS SET premiere_date = '1795' WHERE id = 7328; COMMIT;
UPDATE WORKS SET premiere_date = '1793' WHERE id = 7328; COMMIT;
UPDATE WORKS SET premiere_date = '1795' WHERE id = 7327; COMMIT;
UPDATE WORKS SET premiere_date = '1793' WHERE id = 7327; COMMIT;
UPDATE WORKS SET premiere_date = '1908' WHERE id = 747; COMMIT;
UPDATE WORKS SET premiere_date = '1752' WHERE id = 2834; COMMIT;
UPDATE WORKS SET premiere_date = '1734' WHERE id = 2834; COMMIT;
UPDATE WORKS SET premiere_date = '1734' WHERE id = 2834; COMMIT;
UPDATE WORKS SET premiere_date = '1752' WHERE id = 714; COMMIT;
UPDATE WORKS SET premiere_date = '1734' WHERE id = 714; COMMIT;
UPDATE WORKS SET premiere_date = '1734' WHERE id = 714; COMMIT;
UPDATE WORKS SET premiere_date = '1752' WHERE id = 313; COMMIT;
UPDATE WORKS SET premiere_date = '1734' WHERE id = 313; COMMIT;
UPDATE WORKS SET premiere_date = '1734' WHERE id = 313; COMMIT;
UPDATE WORKS SET premiere_date = '1755' WHERE id = 716; COMMIT;
UPDATE WORKS SET premiere_date = '1686' WHERE id = 4333; COMMIT;
UPDATE WORKS SET premiere_date = '1755' WHERE id = 516; COMMIT;
UPDATE WORKS SET premiere_date = '1641' WHERE id = 15192; COMMIT;
UPDATE WORKS SET premiere_date = '1768' WHERE id = 23226; COMMIT;
UPDATE WORKS SET premiere_date = '1751' WHERE id = 7390; COMMIT;
UPDATE WORKS SET premiere_date = '1889' WHERE id = 15205; COMMIT;
UPDATE WORKS SET premiere_date = '1816' WHERE id = 15208; COMMIT;
UPDATE WORKS SET premiere_date = '1619' WHERE id = 7414; COMMIT;
UPDATE WORKS SET premiere_date = '1730' WHERE id = 15243; COMMIT;
UPDATE WORKS SET premiere_date = '1872' WHERE id = 594; COMMIT;
UPDATE WORKS SET premiere_date = '1898' WHERE id = 15248; COMMIT;
UPDATE WORKS SET premiere_date = '1841' WHERE id = 15249; COMMIT;
UPDATE WORKS SET premiere_date = '1763' WHERE id = 718; COMMIT;
UPDATE WORKS SET premiere_date = '1832' WHERE id = 15271; COMMIT;
UPDATE WORKS SET premiere_date = '1786' WHERE id = 7458; COMMIT;
UPDATE WORKS SET premiere_date = '1894' WHERE id = 7463; COMMIT;
UPDATE WORKS SET premiere_date = '1894' WHERE id = 22334; COMMIT;
UPDATE WORKS SET premiere_date = '1642' WHERE id = 1244; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 7488; COMMIT;
UPDATE WORKS SET premiere_date = '1820' WHERE id = 15310; COMMIT;
UPDATE WORKS SET premiere_date = '1820' WHERE id = 7489; COMMIT;
UPDATE WORKS SET premiere_date = '1731' WHERE id = 10489; COMMIT;
UPDATE WORKS SET premiere_date = '1829' WHERE id = 21938; COMMIT;
UPDATE WORKS SET premiere_date = '1902' WHERE id = 22858; COMMIT;
UPDATE WORKS SET premiere_date = '1923' WHERE id = 179; COMMIT;
UPDATE WORKS SET premiere_date = '1869' WHERE id = 21935; COMMIT;
UPDATE WORKS SET premiere_date = '1827' WHERE id = 7503; COMMIT;
UPDATE WORKS SET premiere_date = '1891' WHERE id = 180; COMMIT;
UPDATE WORKS SET premiere_date = '1919' WHERE id = 15328; COMMIT;
UPDATE WORKS SET premiere_date = '1803' WHERE id = 3369; COMMIT;
UPDATE WORKS SET premiere_date = '1803' WHERE id = 3964; COMMIT;
UPDATE WORKS SET premiere_date = '1803' WHERE id = 2943; COMMIT;
UPDATE WORKS SET premiere_date = '1803' WHERE id = 1354; COMMIT;
UPDATE WORKS SET premiere_date = '1887' WHERE id = 15337; COMMIT;
2750
UPDATE WORKS SET premiere_date = '2015' WHERE id = 22216; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 15338; COMMIT;
UPDATE WORKS SET premiere_date = '1761' WHERE id = 719; COMMIT;
UPDATE WORKS SET premiere_date = '1896' WHERE id = 15348; COMMIT;
UPDATE WORKS SET premiere_date = '1735' WHERE id = 7530; COMMIT;
UPDATE WORKS SET premiere_date = '1735' WHERE id = 7530; COMMIT;
UPDATE WORKS SET premiere_date = '1735' WHERE id = 22170; COMMIT;
UPDATE WORKS SET premiere_date = '1735' WHERE id = 22170; COMMIT;
UPDATE WORKS SET premiere_date = '1731' WHERE id = 721; COMMIT;
UPDATE WORKS SET premiere_date = '1829' WHERE id = 7550; COMMIT;
UPDATE WORKS SET premiere_date = '1883' WHERE id = 7558; COMMIT;
UPDATE WORKS SET premiere_date = '1809' WHERE id = 7560; COMMIT;
UPDATE WORKS SET premiere_date = '1888' WHERE id = 760; COMMIT;
UPDATE WORKS SET premiere_date = '1844' WHERE id = 15396; COMMIT;
UPDATE WORKS SET premiere_date = '1891' WHERE id = 2486; COMMIT;
UPDATE WORKS SET premiere_date = '1773' WHERE id = 257; COMMIT;
UPDATE WORKS SET premiere_date = '1889' WHERE id = 7578; COMMIT;
UPDATE WORKS SET premiere_date = '1761' WHERE id = 15402; COMMIT;
UPDATE WORKS SET premiere_date = '1639' WHERE id = 21786; COMMIT;
UPDATE WORKS SET premiere_date = '1639' WHERE id = 1245; COMMIT;
UPDATE WORKS SET premiere_date = '1757' WHERE id = 1012; COMMIT;
UPDATE WORKS SET premiere_date = '1869' WHERE id = 7594; COMMIT;
UPDATE WORKS SET premiere_date = '1797' WHERE id = 7598; COMMIT;
UPDATE WORKS SET premiere_date = '1884' WHERE id = 4031; COMMIT;
UPDATE WORKS SET premiere_date = '1813' WHERE id = 7604; COMMIT;
UPDATE WORKS SET premiere_date = '1921' WHERE id = 469; COMMIT;
UPDATE WORKS SET premiere_date = '1887' WHERE id = 1049; COMMIT;
UPDATE WORKS SET premiere_date = '1839' WHERE id = 1386; COMMIT;
UPDATE WORKS SET premiere_date = '1800' WHERE id = 7628; COMMIT;
UPDATE WORKS SET premiere_date = '1802' WHERE id = 15451; COMMIT;
UPDATE WORKS SET premiere_date = '1848' WHERE id = 7630; COMMIT;
UPDATE WORKS SET premiere_date = '1875' WHERE id = 3674; COMMIT;
UPDATE WORKS SET premiere_date = '1889' WHERE id = 2974; COMMIT;
UPDATE WORKS SET premiere_date = '1866' WHERE id = 7648; COMMIT;
UPDATE WORKS SET premiere_date = '1826' WHERE id = 1966; COMMIT;
UPDATE WORKS SET premiere_date = '1898' WHERE id = 548; COMMIT;
UPDATE WORKS SET premiere_date = '1760' WHERE id = 7659; COMMIT;
UPDATE WORKS SET premiere_date = '1916' WHERE id = 181; COMMIT;
UPDATE WORKS SET premiere_date = '1714' WHERE id = 7664; COMMIT;
UPDATE WORKS SET premiere_date = '1915' WHERE id = 3924; COMMIT;
UPDATE WORKS SET premiere_date = '1866' WHERE id = 21933; COMMIT;
UPDATE WORKS SET premiere_date = '1770' WHERE id = 259; COMMIT;
UPDATE WORKS SET premiere_date = '1806' WHERE id = 15515; COMMIT;
UPDATE WORKS SET premiere_date = '1745' WHERE id = 7684; COMMIT;
UPDATE WORKS SET premiere_date = '1745' WHERE id = 7685; COMMIT;
UPDATE WORKS SET premiere_date = '1835' WHERE id = 22361; COMMIT;
UPDATE WORKS SET premiere_date = '1899' WHERE id = 2660; COMMIT;
UPDATE WORKS SET premiere_date = '1753' WHERE id = 7698; COMMIT;
UPDATE WORKS SET premiere_date = '1753' WHERE id = 283; COMMIT;
UPDATE WORKS SET premiere_date = '1747' WHERE id = 2290; COMMIT;
UPDATE WORKS SET premiere_date = '1747' WHERE id = 15555; COMMIT;
UPDATE WORKS SET premiere_date = '1635' WHERE id = 15569; COMMIT;
UPDATE WORKS SET premiere_date = '1635' WHERE id = 10207; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 7724; COMMIT;
UPDATE WORKS SET premiere_date = '1911' WHERE id = 22319; COMMIT;
UPDATE WORKS SET premiere_date = '1911' WHERE id = 22579; COMMIT;
UPDATE WORKS SET premiere_date = '1911' WHERE id = 761; COMMIT;
UPDATE WORKS SET premiere_date = '1954' WHERE id = 7737; COMMIT;
UPDATE WORKS SET premiere_date = '1763' WHERE id = 7742; COMMIT;
UPDATE WORKS SET premiere_date = '1783' WHERE id = 3908; COMMIT;
UPDATE WORKS SET premiere_date = '1962' WHERE id = 7755; COMMIT;
3000
UPDATE WORKS SET premiere_date = '2003' WHERE id = 2972; COMMIT;
UPDATE WORKS SET premiere_date = '1967' WHERE id = 1962; COMMIT;
UPDATE WORKS SET premiere_date = '2005' WHERE id = 15653; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 3248; COMMIT;

UPDATE WORKS SET premiere_date = '2002' WHERE id = 15665; COMMIT;
UPDATE WORKS SET premiere_date = '1973' WHERE id = 7780; COMMIT;
UPDATE WORKS SET premiere_date = '1921' WHERE id = 2933; COMMIT;
UPDATE WORKS SET premiere_date = '1769' WHERE id = 261; COMMIT;
UPDATE WORKS SET premiere_date = '1823' WHERE id = 7804; COMMIT;
UPDATE WORKS SET premiere_date = '2005' WHERE id = 4174; COMMIT;
UPDATE WORKS SET premiere_date = '1750' WHERE id = 7806; COMMIT;
UPDATE WORKS SET premiere_date = '1811' WHERE id = 7819; COMMIT;
UPDATE WORKS SET premiere_date = '2002' WHERE id = 21943; COMMIT;
UPDATE WORKS SET premiere_date = '2002' WHERE id = 23172; COMMIT;
UPDATE WORKS SET premiere_date = '2002' WHERE id = 15727; COMMIT;
UPDATE WORKS SET premiere_date = '1951' WHERE id = 7828; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 15737; COMMIT;
UPDATE WORKS SET premiere_date = '2004' WHERE id = 7838; COMMIT;
UPDATE WORKS SET premiere_date = '1902' WHERE id = 762; COMMIT;
UPDATE WORKS SET premiere_date = '2003' WHERE id = 15748; COMMIT;
UPDATE WORKS SET premiere_date = '1898' WHERE id = 7845; COMMIT;
UPDATE WORKS SET premiere_date = '1851' WHERE id = 7849; COMMIT;
UPDATE WORKS SET premiere_date = '2003' WHERE id = 7851; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 15770; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 15771; COMMIT;
UPDATE WORKS SET premiere_date = '1979' WHERE id = 7853; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 15775; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 15781; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 21924; COMMIT;
UPDATE WORKS SET premiere_date = '1711' WHERE id = 15782; COMMIT;
UPDATE WORKS SET premiere_date = '1817' WHERE id = 7864; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 22953; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 2275; COMMIT;
UPDATE WORKS SET premiere_date = '1873' WHERE id = 2490; COMMIT;
UPDATE WORKS SET premiere_date = '1699' WHERE id = 242; COMMIT;
UPDATE WORKS SET premiere_date = '1801' WHERE id = 15838; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 763; COMMIT;
UPDATE WORKS SET premiere_date = '1847' WHERE id = 7923; COMMIT;
UPDATE WORKS SET premiere_date = '1877' WHERE id = 679; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 448; COMMIT;
UPDATE WORKS SET premiere_date = '1775' WHERE id = 448; COMMIT;
UPDATE WORKS SET premiere_date = '1843' WHERE id = 448; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 22854; COMMIT;
UPDATE WORKS SET premiere_date = '1775' WHERE id = 22854; COMMIT;
UPDATE WORKS SET premiere_date = '1843' WHERE id = 22854; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 11519; COMMIT;
UPDATE WORKS SET premiere_date = '1775' WHERE id = 11519; COMMIT;
UPDATE WORKS SET premiere_date = '1843' WHERE id = 11519; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 11262; COMMIT;
UPDATE WORKS SET premiere_date = '1775' WHERE id = 11262; COMMIT;
UPDATE WORKS SET premiere_date = '1843' WHERE id = 11262; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 20196; COMMIT;
UPDATE WORKS SET premiere_date = '1775' WHERE id = 20196; COMMIT;
UPDATE WORKS SET premiere_date = '1843' WHERE id = 20196; COMMIT;
3250
UPDATE WORKS SET premiere_date = '1971' WHERE id = 15900; COMMIT;
UPDATE WORKS SET premiere_date = '1886' WHERE id = 2556; COMMIT;
UPDATE WORKS SET premiere_date = '1886' WHERE id = 2061; COMMIT;
UPDATE WORKS SET premiere_date = '1886' WHERE id = 15907; COMMIT;
UPDATE WORKS SET premiere_date = '1734' WHERE id = 15908; COMMIT;
UPDATE WORKS SET premiere_date = '1897' WHERE id = 182; COMMIT;
UPDATE WORKS SET premiere_date = '1760' WHERE id = 7960; COMMIT;
UPDATE WORKS SET premiere_date = '1894' WHERE id = 7972; COMMIT;
UPDATE WORKS SET premiere_date = '1730' WHERE id = 15958; COMMIT;
UPDATE WORKS SET premiere_date = '1889' WHERE id = 150; COMMIT;
UPDATE WORKS SET premiere_date = '1870' WHERE id = 150; COMMIT;
UPDATE WORKS SET premiere_date = '1889' WHERE id = 765; COMMIT;
UPDATE WORKS SET premiere_date = '1870' WHERE id = 765; COMMIT;
UPDATE WORKS SET premiere_date = '1889' WHERE id = 2951; COMMIT;
UPDATE WORKS SET premiere_date = '1870' WHERE id = 2951; COMMIT;
UPDATE WORKS SET premiere_date = '1889' WHERE id = 7990; COMMIT;
UPDATE WORKS SET premiere_date = '1870' WHERE id = 7990; COMMIT;
UPDATE WORKS SET premiere_date = '1881' WHERE id = 7997; COMMIT;
UPDATE WORKS SET premiere_date = '1900' WHERE id = 22025; COMMIT;
UPDATE WORKS SET premiere_date = '1900' WHERE id = 15982; COMMIT;
UPDATE WORKS SET premiere_date = '2000' WHERE id = 8015; COMMIT;
UPDATE WORKS SET premiere_date = '1910' WHERE id = 8017; COMMIT;
UPDATE WORKS SET premiere_date = '1910' WHERE id = 22073; COMMIT;
UPDATE WORKS SET premiere_date = '1967' WHERE id = 23012; COMMIT;
UPDATE WORKS SET premiere_date = '1967' WHERE id = 8027; COMMIT;
UPDATE WORKS SET premiere_date = '1893' WHERE id = 8033; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 8035; COMMIT;
UPDATE WORKS SET premiere_date = '1888' WHERE id = 8036; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 8038; COMMIT;
UPDATE WORKS SET premiere_date = '1702' WHERE id = 1358; COMMIT;
UPDATE WORKS SET premiere_date = '1697' WHERE id = 16057; COMMIT;
UPDATE WORKS SET premiere_date = '1713' WHERE id = 2439; COMMIT;
UPDATE WORKS SET premiere_date = '1709' WHERE id = 16062; COMMIT;
UPDATE WORKS SET premiere_date = '1931' WHERE id = 16069; COMMIT;
UPDATE WORKS SET premiere_date = '1749' WHERE id = 2245; COMMIT;
UPDATE WORKS SET premiere_date = '1907' WHERE id = 183; COMMIT;
UPDATE WORKS SET premiere_date = '1847' WHERE id = 16087; COMMIT;
UPDATE WORKS SET premiere_date = '1977' WHERE id = 2856; COMMIT;
UPDATE WORKS SET premiere_date = '1789' WHERE id = 8080; COMMIT;
UPDATE WORKS SET premiere_date = '1873' WHERE id = 8081; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 8095; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 8096; COMMIT;
UPDATE WORKS SET premiere_date = '1876' WHERE id = 2073; COMMIT;
3500
UPDATE WORKS SET premiere_date = '1741' WHERE id = 690; COMMIT;
UPDATE WORKS SET premiere_date = '1944' WHERE id = 8111; COMMIT;
UPDATE WORKS SET premiere_date = '1997' WHERE id = 19456; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 8127; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 22987; COMMIT;
UPDATE WORKS SET premiere_date = '1880' WHERE id = 1206; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 8134; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 8135; COMMIT;
UPDATE WORKS SET premiere_date = '1897' WHERE id = 8149; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 8153; COMMIT;
UPDATE WORKS SET premiere_date = '1701' WHERE id = 243; COMMIT;
UPDATE WORKS SET premiere_date = '1769' WHERE id = 243; COMMIT;
UPDATE WORKS SET premiere_date = '2002' WHERE id = 2833; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 16231; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 8165; COMMIT;
UPDATE WORKS SET premiere_date = '1887' WHERE id = 22432; COMMIT;
UPDATE WORKS SET premiere_date = '1647' WHERE id = 16245; COMMIT;
UPDATE WORKS SET premiere_date = '1672' WHERE id = 16245; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 8177; COMMIT;
UPDATE WORKS SET premiere_date = '1733' WHERE id = 22929; COMMIT;
UPDATE WORKS SET premiere_date = '1733' WHERE id = 22845; COMMIT;
UPDATE WORKS SET premiere_date = '1727' WHERE id = 16255; COMMIT;
UPDATE WORKS SET premiere_date = '1691' WHERE id = 8184; COMMIT;
UPDATE WORKS SET premiere_date = '1688' WHERE id = 8192; COMMIT;
UPDATE WORKS SET premiere_date = '1726' WHERE id = 22754; COMMIT;
UPDATE WORKS SET premiere_date = '1726' WHERE id = 21910; COMMIT;
UPDATE WORKS SET premiere_date = '1690' WHERE id = 3167; COMMIT;
UPDATE WORKS SET premiere_date = '1865' WHERE id = 8208; COMMIT;
UPDATE WORKS SET premiere_date = '1870' WHERE id = 16284; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 8211; COMMIT;
UPDATE WORKS SET premiere_date = '1926' WHERE id = 21814; COMMIT;
UPDATE WORKS SET premiere_date = '1926' WHERE id = 16299; COMMIT;
UPDATE WORKS SET premiere_date = '1730' WHERE id = 10597; COMMIT;
UPDATE WORKS SET premiere_date = '1699' WHERE id = 10597; COMMIT;

UPDATE WORKS SET premiere_date = '1998' WHERE id = 16337; COMMIT;
UPDATE WORKS SET premiere_date = '1886' WHERE id = 8244; COMMIT;
UPDATE WORKS SET premiere_date = '1876' WHERE id = 8248; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 8248; COMMIT;
UPDATE WORKS SET premiere_date = '1876' WHERE id = 8247; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 8247; COMMIT;
UPDATE WORKS SET premiere_date = '1939' WHERE id = 16344; COMMIT;
UPDATE WORKS SET premiere_date = '1938' WHERE id = 22833; COMMIT;
UPDATE WORKS SET premiere_date = '1938' WHERE id = 22109; COMMIT;
UPDATE WORKS SET premiere_date = '1927' WHERE id = 22020; COMMIT;
3750
UPDATE WORKS SET premiere_date = '1682' WHERE id = 8264; COMMIT;
UPDATE WORKS SET premiere_date = '1780' WHERE id = 8264; COMMIT;
UPDATE WORKS SET premiere_date = '1802' WHERE id = 8269; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 1944; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 21806; COMMIT;
UPDATE WORKS SET premiere_date = '1705' WHERE id = 8275; COMMIT;
UPDATE WORKS SET premiere_date = '1893' WHERE id = 597; COMMIT;
UPDATE WORKS SET premiere_date = '1786' WHERE id = 16387; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22280; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 11300; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22093; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 22782; COMMIT;
UPDATE WORKS SET premiere_date = '1726' WHERE id = 16406; COMMIT;
UPDATE WORKS SET premiere_date = '1785' WHERE id = 8293; COMMIT;
UPDATE WORKS SET premiere_date = '1763' WHERE id = 284; COMMIT;
UPDATE WORKS SET premiere_date = '1777' WHERE id = 8301; COMMIT;
UPDATE WORKS SET premiere_date = '1720' WHERE id = 16427; COMMIT;
UPDATE WORKS SET premiere_date = '1922' WHERE id = 16430; COMMIT;
UPDATE WORKS SET premiere_date = '1922' WHERE id = 16430; COMMIT;
UPDATE WORKS SET premiere_date = '1922' WHERE id = 8305; COMMIT;
UPDATE WORKS SET premiere_date = '1922' WHERE id = 8305; COMMIT;
UPDATE WORKS SET premiere_date = '1706' WHERE id = 3038; COMMIT;
UPDATE WORKS SET premiere_date = '1939' WHERE id = 16455; COMMIT;
UPDATE WORKS SET premiere_date = '1894' WHERE id = 3793; COMMIT;
UPDATE WORKS SET premiere_date = '1876' WHERE id = 16480; COMMIT;
UPDATE WORKS SET premiere_date = '1937' WHERE id = 16482; COMMIT;
UPDATE WORKS SET premiere_date = '1937' WHERE id = 16481; COMMIT;
UPDATE WORKS SET premiere_date = '1877' WHERE id = 2351; COMMIT;
UPDATE WORKS SET premiere_date = '1680' WHERE id = 8355; COMMIT;
UPDATE WORKS SET premiere_date = '1887' WHERE id = 8355; COMMIT;
UPDATE WORKS SET premiere_date = '1803' WHERE id = 8355; COMMIT;
UPDATE WORKS SET premiere_date = '1678' WHERE id = 2223; COMMIT;
UPDATE WORKS SET premiere_date = '1949' WHERE id = 16505; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 767; COMMIT;
UPDATE WORKS SET premiere_date = '1922' WHERE id = 8368; COMMIT;
UPDATE WORKS SET premiere_date = '1779' WHERE id = 16518; COMMIT;
UPDATE WORKS SET premiere_date = '1745' WHERE id = 16519; COMMIT;
UPDATE WORKS SET premiere_date = '1745' WHERE id = 22173; COMMIT;
UPDATE WORKS SET premiere_date = '1745' WHERE id = 22163; COMMIT;
UPDATE WORKS SET premiere_date = '1730' WHERE id = 23196; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 16525; COMMIT;
UPDATE WORKS SET premiere_date = '1921' WHERE id = 8385; COMMIT;
UPDATE WORKS SET premiere_date = '1956' WHERE id = 8397; COMMIT;
UPDATE WORKS SET premiere_date = '1948' WHERE id = 16568; COMMIT;
UPDATE WORKS SET premiere_date = '1848' WHERE id = 16568; COMMIT;
UPDATE WORKS SET premiere_date = '1948' WHERE id = 4111; COMMIT;
UPDATE WORKS SET premiere_date = '1848' WHERE id = 4111; COMMIT;
UPDATE WORKS SET premiere_date = '1948' WHERE id = 2751; COMMIT;
UPDATE WORKS SET premiere_date = '1848' WHERE id = 2751; COMMIT;
UPDATE WORKS SET premiere_date = '1993' WHERE id = 22219; COMMIT;
4000
UPDATE WORKS SET premiere_date = '1916' WHERE id = 21844; COMMIT;
UPDATE WORKS SET premiere_date = '1783' WHERE id = 8409; COMMIT;
UPDATE WORKS SET premiere_date = '1722' WHERE id = 8409; COMMIT;
UPDATE WORKS SET premiere_date = '1955' WHERE id = 2752; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 8418; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 22380; COMMIT;
UPDATE WORKS SET premiere_date = '1711' WHERE id = 8423; COMMIT;
UPDATE WORKS SET premiere_date = '1972' WHERE id = 8429; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 8431; COMMIT;
UPDATE WORKS SET premiere_date = '1888' WHERE id = 22175; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 22175; COMMIT;
UPDATE WORKS SET premiere_date = '1888' WHERE id = 16621; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 16621; COMMIT;
UPDATE WORKS SET premiere_date = '1888' WHERE id = 3274; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 3274; COMMIT;
UPDATE WORKS SET premiere_date = '1888' WHERE id = 22850; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 22850; COMMIT;
UPDATE WORKS SET premiere_date = '1888' WHERE id = 2818; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 2818; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 8442; COMMIT;
UPDATE WORKS SET premiere_date = '1912' WHERE id = 2492; COMMIT;
UPDATE WORKS SET premiere_date = '1943' WHERE id = 22447; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 8455; COMMIT;
UPDATE WORKS SET premiere_date = '1848' WHERE id = 21991; COMMIT;
UPDATE WORKS SET premiere_date = '1909' WHERE id = 8483; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 1101; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 3533; COMMIT;
UPDATE WORKS SET premiere_date = '1896' WHERE id = 8509; COMMIT;
UPDATE WORKS SET premiere_date = '1851' WHERE id = 684; COMMIT;
UPDATE WORKS SET premiere_date = '1851' WHERE id = 2493; COMMIT;
UPDATE WORKS SET premiere_date = '1969' WHERE id = 1112; COMMIT;
UPDATE WORKS SET premiere_date = '1821' WHERE id = 16727; COMMIT;
UPDATE WORKS SET premiere_date = '1862' WHERE id = 1207; COMMIT;
UPDATE WORKS SET premiere_date = '1858' WHERE id = 2824; COMMIT;
UPDATE WORKS SET premiere_date = '1858' WHERE id = 2831; COMMIT;
UPDATE WORKS SET premiere_date = '1973' WHERE id = 22625; COMMIT;
UPDATE WORKS SET premiere_date = '1973' WHERE id = 16736; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 8522; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 16745; COMMIT;
UPDATE WORKS SET premiere_date = '1735' WHERE id = 8525; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 21967; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 22018; COMMIT;
UPDATE WORKS SET premiere_date = '1910' WHERE id = 3547; COMMIT;
UPDATE WORKS SET premiere_date = '1701' WHERE id = 3612; COMMIT;
UPDATE WORKS SET premiere_date = '1746' WHERE id = 8541; COMMIT;
UPDATE WORKS SET premiere_date = '1705' WHERE id = 8545; COMMIT;
UPDATE WORKS SET premiere_date = '1744' WHERE id = 8547; COMMIT;
UPDATE WORKS SET premiere_date = '1707' WHERE id = 8547; COMMIT;
4250
UPDATE WORKS SET premiere_date = '1993' WHERE id = 22521; COMMIT;
UPDATE WORKS SET premiere_date = '1993' WHERE id = 8572; COMMIT;
UPDATE WORKS SET premiere_date = '1975' WHERE id = 8575; COMMIT;
UPDATE WORKS SET premiere_date = '1974' WHERE id = 8580; COMMIT;
UPDATE WORKS SET premiere_date = '1974' WHERE id = 16850; COMMIT;
UPDATE WORKS SET premiere_date = '1660' WHERE id = 3671; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 8587; COMMIT;
UPDATE WORKS SET premiere_date = '1770' WHERE id = 264; COMMIT;
UPDATE WORKS SET premiere_date = '1952' WHERE id = 8598; COMMIT;
UPDATE WORKS SET premiere_date = '1758' WHERE id = 2626; COMMIT;
UPDATE WORKS SET premiere_date = '1758' WHERE id = 2295; COMMIT;
UPDATE WORKS SET premiere_date = '1900' WHERE id = 8615; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 16896; COMMIT;
UPDATE WORKS SET premiere_date = '1919' WHERE id = 22758; COMMIT;
UPDATE WORKS SET premiere_date = '1944' WHERE id = 4550; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 8632; COMMIT;
UPDATE WORKS SET premiere_date = '2002' WHERE id = 2918; COMMIT;
UPDATE WORKS SET premiere_date = '1979' WHERE id = 16947; COMMIT;

UPDATE WORKS SET premiere_date = '1656' WHERE id = 1253; COMMIT;
4500
UPDATE WORKS SET premiere_date = '1841' WHERE id = 2666; COMMIT;
UPDATE WORKS SET premiere_date = '1837' WHERE id = 2666; COMMIT;
UPDATE WORKS SET premiere_date = '1841' WHERE id = 776; COMMIT;
UPDATE WORKS SET premiere_date = '1837' WHERE id = 776; COMMIT;
UPDATE WORKS SET premiere_date = '1792' WHERE id = 3970; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 4291; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 17009; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 17036; COMMIT;
UPDATE WORKS SET premiere_date = '1718' WHERE id = 17040; COMMIT;
UPDATE WORKS SET premiere_date = '1748' WHERE id = 17040; COMMIT;
UPDATE WORKS SET premiere_date = '1718' WHERE id = 244; COMMIT;
UPDATE WORKS SET premiere_date = '1748' WHERE id = 244; COMMIT;
UPDATE WORKS SET premiere_date = '1709' WHERE id = 2786; COMMIT;
UPDATE WORKS SET premiere_date = '1911' WHERE id = 17042; COMMIT;
UPDATE WORKS SET premiere_date = '1951' WHERE id = 17056; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 8694; COMMIT;
UPDATE WORKS SET premiere_date = '1931' WHERE id = 3666; COMMIT;
UPDATE WORKS SET premiere_date = '1728' WHERE id = 17071; COMMIT;
UPDATE WORKS SET premiere_date = '1941' WHERE id = 2844; COMMIT;
UPDATE WORKS SET premiere_date = '1718' WHERE id = 8711; COMMIT;
UPDATE WORKS SET premiere_date = '1797' WHERE id = 8711; COMMIT;
UPDATE WORKS SET premiere_date = '1718' WHERE id = 8711; COMMIT;
UPDATE WORKS SET premiere_date = '1797' WHERE id = 8711; COMMIT;
UPDATE WORKS SET premiere_date = '1736' WHERE id = 1760; COMMIT;
UPDATE WORKS SET premiere_date = '1760' WHERE id = 729; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 17102; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 23229; COMMIT;
UPDATE WORKS SET premiere_date = '1498' WHERE id = 2825; COMMIT;
UPDATE WORKS SET premiere_date = '1987' WHERE id = 932; COMMIT;
UPDATE WORKS SET premiere_date = '1932' WHERE id = 863; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 1123; COMMIT;
UPDATE WORKS SET premiere_date = '1905' WHERE id = 8839; COMMIT;
UPDATE WORKS SET premiere_date = '1907' WHERE id = 8842; COMMIT;
UPDATE WORKS SET premiere_date = '1917' WHERE id = 17293; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 8867; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 8868; COMMIT;
UPDATE WORKS SET premiere_date = '2015' WHERE id = 17296; COMMIT;
UPDATE WORKS SET premiere_date = '1869' WHERE id = 8869; COMMIT;
UPDATE WORKS SET premiere_date = '1907' WHERE id = 768; COMMIT;
UPDATE WORKS SET premiere_date = '1886' WHERE id = 17303; COMMIT;
UPDATE WORKS SET premiere_date = '1782' WHERE id = 3452; COMMIT;
UPDATE WORKS SET premiere_date = '1993' WHERE id = 8882; COMMIT;
4750
UPDATE WORKS SET premiere_date = '1867' WHERE id = 8892; COMMIT;
UPDATE WORKS SET premiere_date = '2010' WHERE id = 17328; COMMIT;
UPDATE WORKS SET premiere_date = '1984' WHERE id = 8899; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 8902; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 3156; COMMIT;
UPDATE WORKS SET premiere_date = '1867' WHERE id = 8923; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 8928; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 1952; COMMIT;
UPDATE WORKS SET premiere_date = '1909' WHERE id = 1323; COMMIT;
UPDATE WORKS SET premiere_date = '1658' WHERE id = 8948; COMMIT;
UPDATE WORKS SET premiere_date = '1973' WHERE id = 22620; COMMIT;
UPDATE WORKS SET premiere_date = '1973' WHERE id = 8964; COMMIT;
UPDATE WORKS SET premiere_date = '1903' WHERE id = 8973; COMMIT;
UPDATE WORKS SET premiere_date = '1931' WHERE id = 462; COMMIT;
UPDATE WORKS SET premiere_date = '1968' WHERE id = 4264; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 8998; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 3137; COMMIT;
UPDATE WORKS SET premiere_date = '1912' WHERE id = 17464; COMMIT;
UPDATE WORKS SET premiere_date = '1996' WHERE id = 17474; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 17491; COMMIT;
UPDATE WORKS SET premiere_date = '1995' WHERE id = 9036; COMMIT;
UPDATE WORKS SET premiere_date = '1920' WHERE id = 9044; COMMIT;
UPDATE WORKS SET premiere_date = '1944' WHERE id = 17527; COMMIT;
UPDATE WORKS SET premiere_date = '1944' WHERE id = 21900; COMMIT;
UPDATE WORKS SET premiere_date = '1962' WHERE id = 4263; COMMIT;
UPDATE WORKS SET premiere_date = '1771' WHERE id = 3644; COMMIT;
UPDATE WORKS SET premiere_date = '1988' WHERE id = 3157; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22035; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 9122; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 3603; COMMIT;
UPDATE WORKS SET premiere_date = '1927' WHERE id = 3122; COMMIT;
UPDATE WORKS SET premiere_date = '1927' WHERE id = 2590; COMMIT;
UPDATE WORKS SET premiere_date = '2001' WHERE id = 17603; COMMIT;
UPDATE WORKS SET premiere_date = '1898' WHERE id = 3797; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 17618; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 4134; COMMIT;
UPDATE WORKS SET premiere_date = '1994' WHERE id = 9160; COMMIT;
UPDATE WORKS SET premiere_date = '1896' WHERE id = 477; COMMIT;
UPDATE WORKS SET premiere_date = '1904' WHERE id = 17686; COMMIT;
5000
UPDATE WORKS SET premiere_date = '1990' WHERE id = 17694; COMMIT;
UPDATE WORKS SET premiere_date = '1980' WHERE id = 9188; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 17698; COMMIT;
UPDATE WORKS SET premiere_date = '1977' WHERE id = 2819; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 9194; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 22946; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 22820; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 22084; COMMIT;
UPDATE WORKS SET premiere_date = '1953' WHERE id = 17720; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 9208; COMMIT;
UPDATE WORKS SET premiere_date = '1970' WHERE id = 2820; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 1954; COMMIT;
UPDATE WORKS SET premiere_date = '1919' WHERE id = 9232; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 17757; COMMIT;
UPDATE WORKS SET premiere_date = '1943' WHERE id = 17767; COMMIT;
UPDATE WORKS SET premiere_date = '1943' WHERE id = 22598; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 17771; COMMIT;
UPDATE WORKS SET premiere_date = '1913' WHERE id = 3177; COMMIT;
UPDATE WORKS SET premiere_date = '1836' WHERE id = 2829; COMMIT;
UPDATE WORKS SET premiere_date = '1977' WHERE id = 3139; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 1955; COMMIT;
UPDATE WORKS SET premiere_date = '1946' WHERE id = 21971; COMMIT;
UPDATE WORKS SET premiere_date = '1963' WHERE id = 9285; COMMIT;
UPDATE WORKS SET premiere_date = '1834' WHERE id = 17843; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 9301; COMMIT;
UPDATE WORKS SET premiere_date = '2000' WHERE id = 17869; COMMIT;
UPDATE WORKS SET premiere_date = '1949' WHERE id = 463; COMMIT;
UPDATE WORKS SET premiere_date = '1859' WHERE id = 17879; COMMIT;
UPDATE WORKS SET premiere_date = '1917' WHERE id = 17883; COMMIT;
UPDATE WORKS SET premiere_date = '1768' WHERE id = 9327; COMMIT;
UPDATE WORKS SET premiere_date = '1961' WHERE id = 17889; COMMIT;
UPDATE WORKS SET premiere_date = '1983' WHERE id = 9330; COMMIT;
UPDATE WORKS SET premiere_date = '2011' WHERE id = 3160; COMMIT;
UPDATE WORKS SET premiere_date = '1918' WHERE id = 1913; COMMIT;
UPDATE WORKS SET premiere_date = '1786' WHERE id = 9342; COMMIT;
UPDATE WORKS SET premiere_date = '2004' WHERE id = 17923; COMMIT;
UPDATE WORKS SET premiere_date = '1915' WHERE id = 3799; COMMIT;
5250
UPDATE WORKS SET premiere_date = '1894' WHERE id = 17934; COMMIT;
UPDATE WORKS SET premiere_date = '1978' WHERE id = 510; COMMIT;
UPDATE WORKS SET premiere_date = '1970' WHERE id = 2919; COMMIT;
UPDATE WORKS SET premiere_date = '1886' WHERE id = 1006; COMMIT;
UPDATE WORKS SET premiere_date = '1896' WHERE id = 771; COMMIT;
UPDATE WORKS SET premiere_date = '1987' WHERE id = 9382; COMMIT;
UPDATE WORKS SET premiere_date = '2006' WHERE id = 9383; COMMIT;

UPDATE WORKS SET premiere_date = '2008' WHERE id = 9386; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 4563; COMMIT;
UPDATE WORKS SET premiere_date = '1896' WHERE id = 9391; COMMIT;
UPDATE WORKS SET premiere_date = '1937' WHERE id = 4323; COMMIT;
UPDATE WORKS SET premiere_date = '1994' WHERE id = 1957; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 22963; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 9396; COMMIT;
UPDATE WORKS SET premiere_date = '2013' WHERE id = 4521; COMMIT;
UPDATE WORKS SET premiere_date = '1897' WHERE id = 3801; COMMIT;
UPDATE WORKS SET premiere_date = '1997' WHERE id = 9410; COMMIT;
UPDATE WORKS SET premiere_date = '1905' WHERE id = 772; COMMIT;
UPDATE WORKS SET premiere_date = '2003' WHERE id = 3162; COMMIT;
UPDATE WORKS SET premiere_date = '1878' WHERE id = 9424; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 18041; COMMIT;
UPDATE WORKS SET premiere_date = '2017' WHERE id = 23015; COMMIT;
UPDATE WORKS SET premiere_date = '1958' WHERE id = 18052; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 18057; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 23254; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 18056; COMMIT;
UPDATE WORKS SET premiere_date = '1611' WHERE id = 18067; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 18067; COMMIT;
UPDATE WORKS SET premiere_date = '1611' WHERE id = 21826; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 21826; COMMIT;
UPDATE WORKS SET premiere_date = '1611' WHERE id = 9453; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 9453; COMMIT;
UPDATE WORKS SET premiere_date = '1977' WHERE id = 9462; COMMIT;
UPDATE WORKS SET premiere_date = '1950' WHERE id = 2969; COMMIT;
UPDATE WORKS SET premiere_date = '1939' WHERE id = 18094; COMMIT;
UPDATE WORKS SET premiere_date = '1939' WHERE id = 9470; COMMIT;
UPDATE WORKS SET premiere_date = '1925' WHERE id = 4296; COMMIT;
UPDATE WORKS SET premiere_date = '1882' WHERE id = 18106; COMMIT;
UPDATE WORKS SET premiere_date = '1953' WHERE id = 18110; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 9484; COMMIT;
UPDATE WORKS SET premiere_date = '1957' WHERE id = 666; COMMIT;
UPDATE WORKS SET premiere_date = '1929' WHERE id = 22113; COMMIT;
UPDATE WORKS SET premiere_date = '1929' WHERE id = 9491; COMMIT;
UPDATE WORKS SET premiere_date = '1901' WHERE id = 18133; COMMIT;
UPDATE WORKS SET premiere_date = '1906' WHERE id = 1124; COMMIT;
UPDATE WORKS SET premiere_date = '1888' WHERE id = 4538; COMMIT;
UPDATE WORKS SET premiere_date = '1964' WHERE id = 9506; COMMIT;
UPDATE WORKS SET premiere_date = '1875' WHERE id = 9507; COMMIT;
5500
UPDATE WORKS SET premiere_date = '1985' WHERE id = 18183; COMMIT;
UPDATE WORKS SET premiere_date = '1863' WHERE id = 9527; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 9530; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 22082; COMMIT;
UPDATE WORKS SET premiere_date = '1890' WHERE id = 9535; COMMIT;
UPDATE WORKS SET premiere_date = '1998' WHERE id = 18203; COMMIT;
UPDATE WORKS SET premiere_date = '2001' WHERE id = 18211; COMMIT;
UPDATE WORKS SET premiere_date = '1695' WHERE id = 1985; COMMIT;
UPDATE WORKS SET premiere_date = '1785' WHERE id = 1364; COMMIT;
UPDATE WORKS SET premiere_date = '1715' WHERE id = 18215; COMMIT;
UPDATE WORKS SET premiere_date = '2001' WHERE id = 9545; COMMIT;
UPDATE WORKS SET premiere_date = '1717' WHERE id = 9551; COMMIT;
UPDATE WORKS SET premiere_date = '1715' WHERE id = 18231; COMMIT;
UPDATE WORKS SET premiere_date = '1724' WHERE id = 18231; COMMIT;
UPDATE WORKS SET premiere_date = '1729' WHERE id = 18231; COMMIT;
UPDATE WORKS SET premiere_date = '1715' WHERE id = 9556; COMMIT;
UPDATE WORKS SET premiere_date = '1724' WHERE id = 9556; COMMIT;
UPDATE WORKS SET premiere_date = '1729' WHERE id = 9556; COMMIT;
UPDATE WORKS SET premiere_date = '1899' WHERE id = 18235; COMMIT;
UPDATE WORKS SET premiere_date = '1985' WHERE id = 18240; COMMIT;
UPDATE WORKS SET premiere_date = '1714' WHERE id = 314; COMMIT;
UPDATE WORKS SET premiere_date = '1999' WHERE id = 2377; COMMIT;
UPDATE WORKS SET premiere_date = '1711' WHERE id = 9570; COMMIT;
UPDATE WORKS SET premiere_date = '1765' WHERE id = 1007; COMMIT;
UPDATE WORKS SET premiere_date = '1749' WHERE id = 1007; COMMIT;
UPDATE WORKS SET premiere_date = '1765' WHERE id = 1365; COMMIT;
UPDATE WORKS SET premiere_date = '1749' WHERE id = 1365; COMMIT;
UPDATE WORKS SET premiere_date = '1931' WHERE id = 18265; COMMIT;
UPDATE WORKS SET premiere_date = '1928' WHERE id = 4293; COMMIT;
UPDATE WORKS SET premiere_date = '1971' WHERE id = 18279; COMMIT;
UPDATE WORKS SET premiere_date = '1992' WHERE id = 9588; COMMIT;
UPDATE WORKS SET premiere_date = '1981' WHERE id = 18288; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 18290; COMMIT;
UPDATE WORKS SET premiere_date = '1954' WHERE id = 4555; COMMIT;
UPDATE WORKS SET premiere_date = '1759' WHERE id = 18305; COMMIT;
UPDATE WORKS SET premiere_date = '1713' WHERE id = 235; COMMIT;
UPDATE WORKS SET premiere_date = '1725' WHERE id = 9616; COMMIT;
UPDATE WORKS SET premiere_date = '1704' WHERE id = 236; COMMIT;
UPDATE WORKS SET premiere_date = '1714' WHERE id = 236; COMMIT;
UPDATE WORKS SET premiere_date = '1704' WHERE id = 245; COMMIT;
UPDATE WORKS SET premiere_date = '1714' WHERE id = 245; COMMIT;
UPDATE WORKS SET premiere_date = '1896' WHERE id = 22048; COMMIT;
UPDATE WORKS SET premiere_date = '1823' WHERE id = 1722; COMMIT;
UPDATE WORKS SET premiere_date = '1703' WHERE id = 9628; COMMIT;
UPDATE WORKS SET premiere_date = '1778' WHERE id = 2678; COMMIT;
UPDATE WORKS SET premiere_date = '1818' WHERE id = 1490; COMMIT;
UPDATE WORKS SET premiere_date = '1881' WHERE id = 9638; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 9639; COMMIT;
UPDATE WORKS SET premiere_date = '2014' WHERE id = 9649; COMMIT;
UPDATE WORKS SET premiere_date = '1893' WHERE id = 9651; COMMIT;
UPDATE WORKS SET premiere_date = '1856' WHERE id = 1389; COMMIT;
UPDATE WORKS SET premiere_date = '1956' WHERE id = 2877; COMMIT;
UPDATE WORKS SET premiere_date = '1956' WHERE id = 23010; COMMIT;
UPDATE WORKS SET premiere_date = '1983' WHERE id = 18382; COMMIT;
5750
UPDATE WORKS SET premiere_date = '1922' WHERE id = 9674; COMMIT;
UPDATE WORKS SET premiere_date = '1683' WHERE id = 2368; COMMIT;
UPDATE WORKS SET premiere_date = '1935' WHERE id = 3097; COMMIT;
UPDATE WORKS SET premiere_date = '1990' WHERE id = 18421; COMMIT;
UPDATE WORKS SET premiere_date = '2005' WHERE id = 18427; COMMIT;
UPDATE WORKS SET premiere_date = '1963' WHERE id = 18431; COMMIT;
UPDATE WORKS SET premiere_date = '1739' WHERE id = 9709; COMMIT;
UPDATE WORKS SET premiere_date = '1739' WHERE id = 22157; COMMIT;
UPDATE WORKS SET premiere_date = '1949' WHERE id = 1537; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 23171; COMMIT;
UPDATE WORKS SET premiere_date = '1986' WHERE id = 9714; COMMIT;
UPDATE WORKS SET premiere_date = '1697' WHERE id = 18446; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 9721; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 22781; COMMIT;
UPDATE WORKS SET premiere_date = '2007' WHERE id = 18457; COMMIT;
UPDATE WORKS SET premiere_date = '1895' WHERE id = 18458; COMMIT;
UPDATE WORKS SET premiere_date = '1937' WHERE id = 9727; COMMIT;
UPDATE WORKS SET premiere_date = '1930' WHERE id = 18465; COMMIT;
UPDATE WORKS SET premiere_date = '2000' WHERE id = 3597; COMMIT;
UPDATE WORKS SET premiere_date = '2002' WHERE id = 18480; COMMIT;
UPDATE WORKS SET premiere_date = '1951' WHERE id = 569; COMMIT;
UPDATE WORKS SET premiere_date = '1997' WHERE id = 1024; COMMIT;
UPDATE WORKS SET premiere_date = '1918' WHERE id = 9749; COMMIT;
UPDATE WORKS SET premiere_date = '1861' WHERE id = 773; COMMIT;
UPDATE WORKS SET premiere_date = '1994' WHERE id = 9764; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 22419; COMMIT;
UPDATE WORKS SET premiere_date = '1926' WHERE id = 22419; COMMIT;
UPDATE WORKS SET premiere_date = '1914' WHERE id = 9768; COMMIT;
UPDATE WORKS SET premiere_date = '1926' WHERE id = 9768; COMMIT;
UPDATE WORKS SET premiere_date = '1943' WHERE id = 18547; COMMIT;
UPDATE WORKS SET premiere_date = '1943' WHERE id = 4479; COMMIT;

UPDATE WORKS SET premiere_date = '1654' WHERE id = 18552; COMMIT;
UPDATE WORKS SET premiere_date = '1654' WHERE id = 1255; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 9777; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 9784; COMMIT;
UPDATE WORKS SET premiere_date = '1935' WHERE id = 577; COMMIT;
UPDATE WORKS SET premiere_date = '2009' WHERE id = 22088; COMMIT;
UPDATE WORKS SET premiere_date = '1995' WHERE id = 18580; COMMIT;
UPDATE WORKS SET premiere_date = '1873' WHERE id = 9800; COMMIT;
UPDATE WORKS SET premiere_date = '1939' WHERE id = 22502; COMMIT;
UPDATE WORKS SET premiere_date = '1939' WHERE id = 9805; COMMIT;
UPDATE WORKS SET premiere_date = '1784' WHERE id = 18598; COMMIT;
UPDATE WORKS SET premiere_date = '1761' WHERE id = 19102; COMMIT;
UPDATE WORKS SET premiere_date = '1761' WHERE id = 10296; COMMIT;
6000
UPDATE WORKS SET premiere_date = '1962' WHERE id = 9813; COMMIT;
UPDATE WORKS SET premiere_date = '1749' WHERE id = 21852; COMMIT;
UPDATE WORKS SET premiere_date = '1749' WHERE id = 9818; COMMIT;
UPDATE WORKS SET premiere_date = '1817' WHERE id = 18623; COMMIT;
UPDATE WORKS SET premiere_date = '1782' WHERE id = 18636; COMMIT;
UPDATE WORKS SET premiere_date = '2008' WHERE id = 2522; COMMIT;
UPDATE WORKS SET premiere_date = '1690' WHERE id = 285; COMMIT;
UPDATE WORKS SET premiere_date = '1758' WHERE id = 285; COMMIT;
UPDATE WORKS SET premiere_date = '1690' WHERE id = 3040; COMMIT;
UPDATE WORKS SET premiere_date = '1758' WHERE id = 3040; COMMIT;
UPDATE WORKS SET premiere_date = '1800' WHERE id = 2714; COMMIT;
UPDATE WORKS SET premiere_date = '1800' WHERE id = 3972; COMMIT;
UPDATE WORKS SET premiere_date = '1934' WHERE id = 18647; COMMIT;

In [3]:
from bs4 import BeautifulSoup
import requests, urllib, json
from datetime import datetime

headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 6.0; WOW64; rv:24.0) Gecko/20100101 Firefox/24.0' }
base_url = 'http://operadata.stanford.edu/?utf8=%E2%9C%93&utf8=%E2%9C%93&search_field=title&'

########## UPDATE OPERA HOUSES CITY AND STATES ATTRIBUTES #############
import psycopg2
import pandas as pd

db_name = "traviato_development"
db_host = "localhost"
db_port = "5432"
db_user = "lievgarcia"
db_pwd = "traviato81"

conn = psycopg2.connect(database=db_name, user=db_user, password=db_pwd, host=db_host, port=db_port)
#######################################################################

cursor = conn.cursor()  
query = "select state, city, theatre, count(*) as count from listings where source_id = 1 and city is null " + \
        "group by state, city, theatre order by state, city, theatre"
cursor.execute(query)
c_df = pd.DataFrame(cursor.fetchall(), columns=['state', 'city', 'theatre', 'count'])
print(c_df.shape)

api_key = 'AIzaSyAiEcfaF5AfGTdh4vHBPLW6IwNgbFBjOUs'
service_url = 'https://maps.googleapis.com/maps/api/geocode/json'
    
for idx,row in c_df.iterrows():
    
    state, city = None,None
    
    if idx%250==0:
        print(idx)
        
    query = row['theatre']
    params = {
        'address': query,
        'key': api_key
    }
    url = service_url + '?' + urllib.parse.urlencode(params)
#     print(url)
    response = json.loads(urllib.request.urlopen(url).read())
    try:
        for items in response['results'][0]['address_components']:
            if 'administrative_area_level_1' in items['types']:
                state = items['long_name']
            if 'locality' in items['types']:
                city = items['long_name'] 

        if state and city:
            update = "UPDATE LISTINGS "
            values = "SET city = '" + city + "', state = '" + state + "' "
            where  = "WHERE source_id = 1 AND theatre = '" + row['theatre'].replace("'", "''") + "'; "
            commit = "COMMIT;"
#             print(update + values + where + commit)    
            cursor.execute(update + values + where + commit)
    except:
        None

(187, 4)
0

In [25]:
from bs4 import BeautifulSoup
import requests, urllib, json
from datetime import datetime

headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 6.0; WOW64; rv:24.0) Gecko/20100101 Firefox/24.0' }
base_url = 'http://operadata.stanford.edu/?utf8=%E2%9C%93&utf8=%E2%9C%93&search_field=title&'

########## UPDATE OPERA HOUSES CITY AND STATES ATTRIBUTES #############
import psycopg2
import pandas as pd

db_name = "traviato_development"
db_host = "localhost"
db_port = "5432"
db_user = "lievgarcia"
db_pwd = "traviato81"

conn = psycopg2.connect(database=db_name, user=db_user, password=db_pwd, host=db_host, port=db_port)
#######################################################################

cursor = conn.cursor()  
# query = "select state, city, theatre, count(*) as count from listings where source_id = 11 and state is null " + \
#         "group by state, city, theatre order by state, city, theatre"
    
query = "select state, city, count(*) as count from listings where source_id = 11 and state is null " + \
        "group by state, city order by state, city"
    
cursor.execute(query)
c_df = pd.DataFrame(cursor.fetchall(), columns=['state', 'city', 'count'])
print(c_df.shape)

api_key = 'AIzaSyAiEcfaF5AfGTdh4vHBPLW6IwNgbFBjOUs'
service_url = 'https://maps.googleapis.com/maps/api/geocode/json'
    
for idx,row in c_df.iterrows():
    
    state, city = None,None
    
    if idx%250==0:
        print(idx)
        
    query = row['city'] + ' United Kingdom'
    params = {
        'address': query,
        'key': api_key
    }
    url = service_url + '?' + urllib.parse.urlencode(params)
#     print(url)
    response = json.loads(urllib.request.urlopen(url).read())
    try:
        for items in response['results'][0]['address_components']:
            if 'administrative_area_level_1' in items['types']:
                state = items['long_name']
#             if 'locality' in items['types']:
#                 city = items['long_name'] 

#         if state and city:
#             update = "UPDATE LISTINGS "
#             values = "SET city = '" + city + "', state = '" + state + "' "
#             where  = "WHERE source_id = 7 AND theatre = '" + row['theatre'].replace("'", "''") + "' and city IS NULL; "
#             commit = "COMMIT;"
#             print(update + values + where + commit)    
#             cursor.execute(update + values + where + commit)

#         if city:
#             update = "UPDATE LISTINGS "
#             values = "SET city = '" + city + "' "
#             where  = "WHERE source_id = 7 AND theatre = '" + row['theatre'].replace("'", "''") + "' and city IS NULL; "
#             commit = "COMMIT;"
#             print(update + values + where + commit)   
#             cursor.execute(update + values + where + commit)

        if state:
            update = "UPDATE LISTINGS "
            values = "SET state = '" + state + "' "
            where  = "WHERE source_id = 11 AND city = '" + row['city'].replace("'", "''") + "'; "
            commit = "COMMIT;"
#             print(update + values + where + commit)   
            cursor.execute(update + values + where + commit)


    except:
        None

(4, 3)
0